<h1>Portfolio Items</h1>
<%# %faz %= mostra %>
<% @portfolio_items.each do |portfolio_items| %>
  <p><%= portfolio_items.title %></p>
  <p><%= portfolio_items.subtitle %></p>
  <p><%= portfolio_items.body %></p>
  <%# image_tag é um method para transformar a string em imagem %>
  <%= image_tag portfolio_items.thumb_image %>
<% end %>